@import url(../styles/pageheader.css);
@import url(../styles/mainsection.css);
@import url(../styles/artistssection.css);
@import url(../styles/albumssection.css);
@import url(../styles/keyframes.css);
@import url(../styles/albumspage.css);
@import url(../styles/albumpage.css);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@supports (-moz-appearance: none) {
  :root {
    scrollbar-color: #646464 #161616;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #646464;
  border-radius: 10px;
  cursor: grab;
}

::-webkit-scrollbar-track {
  background-color: #161616;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}


html,
body,
#root {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.page-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: var(--default-background-color);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}