.artists-page {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .artists-page-wrapper {
    width: 90%;
    height: 90%;
    padding: 20px;


    .ant-card-body {
      padding: 0;
    }

    .artists-card-container {
      perspective: 1000px;
    }

    .artist-card {
      width: 250px;
      height: 350px;
      border-radius: 8px;
      position: relative;
      transition: transform 0.6s ease-in-out;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      .artist-thumb {
        border-radius: 100%;
        border: 1px solid rgba(255, 255, 255, 0.288);
        transition: all 0.5s ease-in-out;

        &.hovered {
          transform: scale(1.2);
          box-shadow: 1px 1px 8px rgba(155, 155, 155, 0.473);
          position: relative;
          z-index: 5;
        }
      }
    }

    .artists-card-front,
    .artists-card-back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      border-radius: 12px;
      color: white;
    }

    .artists-card-front {
      display: flex;
      align-items: center;
      justify-content: center;

      .artists-thumb {
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.288);
      }
    }

    .artists-card-back {
      transform: rotateY(180deg);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 20px 0px;
      overflow-y: auto;
    }

  }
}

.action-artist-button {
  margin-left: 10px;
  color: white;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.action-artist-button:hover {
  color: #c08fff;
}