.artist-page {
  width: 100%;
  min-height: 100dvh;
  padding: 40px;

  .header {
    border-bottom: 1px solid #353535FF;

    color: white;
    padding: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .artist-photo {
      box-shadow: 1px 1px 8px rgb(24, 24, 24);
      border-radius: 8px;
    }

    .artist-infos {
      margin-left: 20px;
      display: flex;
      align-items: end;

      .classification {
        font-size: 14px;
      }

      .name {
        font-size: 80px;
        text-transform: capitalize;
      }

      .artist {
        cursor: pointer;
        display: flex;
        align-items: center;

        .photo {
          border-radius: 20px;
          margin-right: 10px;
        }
      }

      .artist:hover {
        text-decoration: underline;
      }
    }
  }

  .artist-content {
    padding: 20px 20px 80px 20px;
    background-color: rgb(24, 24, 24);

    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    color: white;

    .infos {
      width: 100%;
      padding: 20px;

      .info-row {
        margin-top: 10px;
      }

      .instrument-show {
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 120px;
        height: 120px;

        border-radius: 100%;

        svg {
          width: 50px;
          height: 50px;
          margin-bottom: 10px;
          color: white;
        }
      }
    }


    .albums {
      width: 100%;
      padding: 20px;

      .ant-card-body {
        padding: 0;
      }

      margin-top: 50px;

      .album-card-container {
        perspective: 1000px;
      }

      .album-card {
        background-color: #1b1b1b88;
        width: 250px;
        height: 350px;
        border-radius: 8px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.6s ease-in-out;
        border: 1px solid rgba(255, 255, 255, 0.288);
        cursor: pointer;
      }

      .album-card.flipped {
        transform: rotateY(180deg);
      }

      .album-card-front,
      .album-card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        border-radius: 12px;
        color: white;
      }

      .album-card-front {
        display: flex;
        align-items: center;
        justify-content: center;

        .album-thumb {
          border-radius: 8px;
          border: 1px solid rgba(255, 255, 255, 0.288);
        }
      }

      .album-card-back {
        transform: rotateY(180deg);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 20px 0;
        overflow-y: auto;
      }
    }

    .musicians {
      .musician-photo {
        border-radius: 100%;
        margin-bottom: 10px;
        box-shadow: 1px 1px 5px black
      }
    }

    .musicians:hover {
      text-decoration: underline;
      cursor: pointer;
      ;

      .musician-photo {
        scale: 1.2;
      }
    }

    .band-name:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.ant-popover-inner {
  background-color: rgb(24, 24, 24) !important;

  .ant-popconfirm-title,
  .ant-popconfirm-description {
    color: white !important;
  }

  .ant-popconfirm-buttons {
    .ant-btn-default {
      background-color: transparent !important;
      border-color: rgba(255, 255, 255, 0.288);
      color: white;
    }

    .ant-btn-default:hover {
      border-color: #c08fff;
      color: #c08fff;
    }
  }
}

.ant-popover-arrow:before {
  background-color: rgb(24, 24, 24) !important;
}