@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes inverse-rotation {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes wave-sound-effect {
  50% {
    height: 20%;
    background-color: #954ef3;
    opacity: 0.3;
  }

  100% {
    height: 100%;
  }
}