.main-section {
  width: 100%;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  .main-section-wrapper {
    color: white;
    margin-bottom: 86px;
    width: 50%;
    text-align: center;

    .main-title {
      font-size: 60px;
      z-index: 2;
      position: relative;
    }

    .ellipse-1 {
      position: absolute;
      z-index: 1;
      top: 20%;
      filter: brightness(1.5);
      left: 35%;
      animation: rotation 8s infinite linear;
    }

    .ellipse-2 {
      position: absolute;
      z-index: 1;
      top: 30%;
      left: 40%;
      filter: brightness(1.5);
      animation: inverse-rotation 8s infinite linear;
    }
  }
}

.wave-sound {
  width: 100%;
  height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 80px;

  .stroke {
    display: block;
    position: relative;
    background: #814AC8;
    opacity: 0.1;
    height: 100%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: wave-sound-effect 3.5s linear infinite;
  }
}